
.notableEvents,
.notableEventsWrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.notableEvents {
  font-size: 40px;
  width: 831px;
  position: relative;
  line-height: 92.5px;
  font-weight: 500;
  align-items: center;
  text-shadow: 0 5px 36.5px rgba(0, 0, 0, 0.13);
}
.notableEventsWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
}
.eventCardIcon,
.eventCardIcon1,
.eventCardIcon2 {
  align-self: stretch;
  margin:  10px;
  width: 236.3px;
  position: relative;
  max-height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 316px;
  max-width: 100%;
}

.eventCardParent {
  width: 1506.4px;
  overflow-x: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 10vh;
  gap: var(--gap-xl);
}
.eventCardParent,
.frameParent,
.homeInner {
  display: flex;
  max-width: 100%;
}
.frameParent {
  width: 1506.4px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-84xl-3);
}
.homeInner {
  width: 1740.8px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-67xl-3);
  color: var(--color-whitesmoke);
  font-family: var(--font-abel);
}
@media screen and (max-width: 1050px) {
  .notableEvents {
    font-size: var(--font-size-24xl);
    line-height: 55px;
  }
}
@media screen and (max-width: 750px) {
  .frameParent {
    gap: var(--gap-33xl);
  }
}
@media screen and (max-width: 450px) {
  .notableEvents {
    font-size: var(--font-size-7xl);
    line-height: 37px;
  }
  .frameParent {
    gap: var(--gap-7xl);
  }

  .eventCardParent{
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

.eventCardIcon,
.eventCardIcon1,
.eventCardIcon2 {
  align-self: stretch;
  margin:  10px;
  width: 136.3px;
  position: relative;
  max-height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 216px;
  max-width: 100%;
}


}
